@model PAMS_2._0.Data.ViewModel;
@{
    ViewData["Title"] = "PAMS V2.0";
}

<div class="card-deck">
    <div class="card ">
        <img class="card-img-top" src="/images/Profile.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Profile</h5>
            <p class="card-text">Here you can view the general information of the currently active session.</p>
            
            <a asp-controller="Login" asp-action="Perfil" class="btn btn-outline-dark">User profile</a>

        </div>
    </div>
    <div class="card " >
        <img class="card-img-top" src="/images//Psic.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">About PAMS</h5>
            <p class="card-text">PAMS is a psychological information management system, which facilitates the administrative tasks of professionals.</p>
            <a asp-controller="Home" asp-action="Privacy" class="btn btn-outline-primary">Read more</a>
        </div>
    </div>
    <div class="card " >
        <img class="card-img-top" src="/images/Paciente.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Patients</h5>
            <p class="card-text">Here you can find all registered patients and their general information.</p>
            
            <a asp-controller="Pacientes" asp-action="Index"  class="btn btn-outline-info">Patients list</a>

        </div>
    </div>
</div>

