
@{
    ViewData["Title"] = "About PAMS";
}
<h1>@ViewData["Title"]</h1>


<div class="card text-justify">
    <div class="card-header">
        Informacion de PAMS
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class="mb-0">
                
            <p class="font-weight-bold">PAMS (Patient Administration Management System)</p> It is a system of patient administration and psychological information
            that facilitates the management and organization of administrative tasks. By implementing the functions of digital data capture for its secure storage in a database, 
            it produces a streamlining in the administrative tasks of professionals, allowing them to fulfill their priority tasks and a considerable 
            improvement in their work environment.
            </p>
            <br />
            <p class="mb-0">
                PAMS is still under development, the version currently in use is a test version.
            </p>
            <footer class="blockquote-footer"> Developed by <cite title="Source Title">Adlai CG.</cite></footer>
        </blockquote>
    </div>
</div>
